---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Moutsita Fred-Espoir fumtsi" description="Moutsita Fred-Espoir fumtsi">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Découvrez mon parcours et mes compétences"
			>
				<img
					width="1553"
					height="873"
					src="/assets/atworktech.jpg"
					alt="Moutsita Fred-Espoir fumtsi at work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						J'ai débuté en tant que commercial après l'obtention de mon Baccalauréat, 
						avec l'idée d'utiliser mes compétences pour vendre des solutions numériques. 
						Par la suite, je me suis réorienté vers la tech, en suivant une formation en domotique 
						J'ai ensuite obtenu la certification TSSR (Technicien supérieur en systèmes et réseaux)
						et effectué mon stage de fin d'études en tant qu'administrateur réseau Souhaitant approfondir mes connaissances,
						actuellement a la recherche d'un contrat d'apprentissage pour une période de 24 a 36mois.  	
					</p>
					<p>
						Ce qui me caractérise le plus est ma capacité d'adaptation et ma capacité à prendre du recul en fonction de certaine situation.
					</p>
					<p>
						Je sais que ma présence et ma capacité à proposer des solutions stratégiques sont des atouts essentiels, 
						incontournables pour assurer la réussite d'un projet.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplomes</h2>
				<div class="content">
					<p>Bac+3 Technicien suppérieur en systèmes et réseaux (RNCP), BTS Cybersécurité  </p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Rigeur, Autonome, Organisé, Dynamique, Polyvalent, Travail d'équipe</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
