---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Moutsita Fred-Espoir fumtsi" description="Moutsita Fred-Espoir fumtsi">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Découvrez mon parcours et mes compétences"
			>
				<img
					width="1553"
					height="873"
					src="/assets/atworktech.jpg"
					alt="Moutsita Fred-Espoir fumtsi at work"
					loading="lazy"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Mon Offre</h2>
				<div class="content">
					<h2>Description des services :</h2>
					<p>Tech : Maintenance, support technique, configuration des systèmes, gestion de projets IT.</p>
					<p>DevOps : Automatisation des processus, CI/CD, gestion des infrastructures cloud, surveillance et optimisation des performances.</p>
					<p>Réseau : Configuration et gestion des réseaux, sécurité réseau, dépannage et support.</p>
					<p>Développement Web : Création de sites web, développement d'applications web, optimisation SEO.</p>
					<p>Intelligence Artificielle : Développement de modèles IA, analyse de données, implémentation de solutions basées sur l'IA.</p>
				</div>
				<div style="margin-top: 15px; text-align: center;">
					<a href="/assets/Services_Freelance-Moutsita_Fred-Espoir_Fumtsi.pdf" download="/assets/Services_Freelance-Moutsita_Fred-Espoir_Fumtsi.pdf"
					   style="display: inline-block; padding: 10px 20px; font-size: 16px; background-color: #28a745; color: #fff; text-decoration: none; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);">
						Télécharger l'offre en PDF
					</a>
				</div>
			</section>

			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Rigueur, Autonome, Organisé, Dynamique, Polyvalent, Travail d'équipe</p>
				</div>
			</section>
		</main>

		<section id="cv-section" style="text-align: center; padding: 20px; background-color: #f9f9f9;">
			<h2>Découvrez mon CV</h2>
			<p>Explorez mon parcours professionnel et téléchargez mon CV au format PDF.</p>
			<a href="/assets/cv.png" target="_blank">
				<img src="/assets/cv.png" alt="Aperçu de mon CV"
					 style="max-width: 80%; height: auto; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);" />
			</a>
			<div style="margin-top: 15px;">
				<a href="/assets/CV_IT_FREELANCE.pdf" download="/assets/CV_IT_FREELANCE.pdf"
				   style="display: inline-block; padding: 10px 20px; font-size: 16px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);">
					Télécharger le CV
				</a>
			</div>
		</section>

		<ContactCTA />

		<style>
			.about {
				display: flex;
				flex-direction: column;
				gap: 3.5rem;
			}
			img {
				margin-top: 1.5rem;
				border-radius: 1.5rem;
				box-shadow: var(--shadow-md);
			}
			section {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
				color: var(--gray-200);
			}
			.section-title {
				grid-column-start: 1;
				font-size: var(--text-xl);
				color: var(--gray-0);
			}
			.content {
				grid-column: 2 / 4;
			}
		</style>
	</div>
</BaseLayout>
